body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg {
  /* The image used */
  background-color: lightskyblue;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

/* Add styles to the form container */
.containerLogin {
  min-width: 600px;
  border: black 2px solid;
  border-radius: 2%;
  background-color: white;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 388px;
  padding: 16px;
  margin-top: 239px;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
